
body {
    width: 1250px;
    margin: 10px auto 30px auto;
    background: black;
    color: white;
    font-family: "source code pro", monospace;
}

body a {
    color: white;
}

.base-url, .footer, .show-hide-add {
    font-size: 0.8em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.show-hide-add {
    text-align: center;
    font-size: 0.6em;
}

#dashboards {
    float: left;
    width: 150px;
    font-size: 0.8em;
    padding-top: 20px;
    line-height: 1.9em;
}

#dashboard {
    float: right;
    width: 1100px;
}

.footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #555;
}

#add-graph {
    border: 1px solid black;
    margin: 10px 10px;
    padding: 10px;
}

#add-graph textarea {
    font-family: "source code pro", monospace;
    width: 100%;
}

#graphs {
    text-align: center;
}

#graphs .graph {
    clear: both;
    margin: 5px auto;
    padding: 10px 0;
}

.graph img {
    float: left;
}

#graphs .controls {
    float: right;
    text-align: left;
}

.graph .legend {
    font-family: "source code pro", monospace;
    font-size: 0.8em;
}
